@page
@model IndexModel
@{
    ViewData["Title"] = "Pobrane z Pliku";
}
<div class="text-center">
    <h1 class="display-8">Tytuły</h1>
 </div>

        @foreach (var product in Model.Products)
        {
            <p><small>@product.Title</small></p>
        }
